#circle01{
    fill:white;
}
#square_01, #square_02, #square_03{
    animation: square_rotate 4s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
#circle{
    animation: circle 3s ease-in-out infinite alternate;
}
@keyframes square_rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes circle {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(39.5%);
    }
}
